{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "eslint:recommended"
  ],
  "rules": {
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["Field"],
      "depth": 3
    }]
  }
}